/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

$background: #f5f5f5;

html, .mat-drawer-container {
    background: $background;
}


django-search-input {
    mat-form-field {
        width: 100%;
        .mat-form-field-infix {
            width: 100%;
        }
    }
}
