<mat-sidenav-container>
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true" style="width: 300px"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

        <div class="container">
            <div class="table-wrapper mat-elevation-z8 row">
                <div *ngFor="let x of filter.inputs">
                    <dynamic-component [config]="x"></dynamic-component>
                </div>
            </div>
        </div>

        <!--<div *ngFor="let x of filter.inputs">-->
            <!--<ng-container *ngTemplateOutlet="x.component.template"></ng-container>-->
        <!--</div>-->
    </mat-sidenav>

    <mat-sidenav-content>

        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>

        <div class="container">
            <div class="table-wrapper mat-elevation-z8 row">
                <django-table [queryset]="queryset" [columns]="columns" [filterForm]="filter.form"
                              (rowClick)="goToItem($event)">
                    <ng-container djangoColumnDef="weight">
                        <div *djangoCellDef="let row">
                            W{{ row.weight }}
                        </div>
                    </ng-container>
                </django-table>
            </div>
        </div>


    </mat-sidenav-content>



</mat-sidenav-container>
