mat-sidenav .container {
    padding: 20px;
}

mat-sidenav.mat-drawer {
    background-color: transparent;
}

mat-sidenav-content .container {
    padding: 20px;
}

:host ::ng-deep .mat-form-field-flex .mat-form-field-prefix {
    height: 16px;
}

#filters {
    margin: 10px 20px;
}

#search-form-field {
    max-width: 300px;
}
